include LICENSE.txt
include README.md
include setup.py
include pyproject.toml

# Data tempaltes
recursive-include demo_tools/templates/ *.sh


# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude .git
global-exclude .ipynb_checkpoints
